* {
    margin: 0;
    padding: 0;
}

body{
    background-color: #0A2647;
}

.kontainer {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.kalculator {
    background: #144272;
    padding: 15px;
    border-radius: 10px;
}

.input {
    width: 275px;
    height: 30px;
    font-size: 22px;
    font-weight: bold;
    padding: 7px;
    margin-bottom: 5px;
    border-radius: 5px;
    border-style: none;
}

.tombol{
    background-color: #205295;
    color: white;
    width: 60px;
    height: 50px;
    font-size: 22px;
    margin: 5px;
    border-radius: 5px;
    cursor: pointer;
    border-style: none;
}

#tombol_clear, #tombol_delete, #tombol_tambah,
#tombol_kurang, #tombol_kali , #tombol_bagi, #tombol_samadengan{
    background-color: #2C74B3;
    color: white;
}

.tombol:hover {
    background-color: white;
    color: #205295;
}

#tombol_samadengan{
    height: 120px;
}

#tombol_0 {
    width: 130px;
}

#tombol_clear:hover, #tombol_delete:hover , #tombol_tambah:hover,
#tombol_kurang:hover, #tombol_kali:hover , #tombol_bagi:hover, #tombol_samadengan:hover{
    color: #2C74B3;
    background-color: white;
}
